/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */


@media (max-width:425px){
    #sidebar {
        display: none;
    }
    #bottom-bar {
        display: flex;
        z-index: 100;
        margin-bottom: 0;
    }
    #menu-toggle{
        display: none;
    }
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        display: none;
    }
    #nav-tab{
        margin-left:-3px;
    }
    #wrapper {
        padding-left: 0px !important;
    }
}

@media (min-width:375px){
    #nav-tab{
        font-size: 14px !important;
    ;
    }
    #tabs{
        padding: 21px 18px ;
    }
}

@media (min-width:425px){
    #nav-tab{
        font-size: 16px !important ;
    }
    #tabs{
        padding: 18px 20px ;
    }
}

@media (min-width: 600px) { 
    #logo {
        display: block;
    }
    #bottom-bar{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   #wrapper {
        padding-left: 0px;
    } 
    #menu-toggle{
        margin-right: 40% !important;
    }
  }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 1024px) {
    #wrapper {
        padding-left: 146px;
    }
   
}



@media (min-width:320px){
    #nav-tab{
        font-size: 11px;
    }
  
  
}

@media (max-width:280px){
    #nav-tab{
        font-size: 9px ;
    }
  
}

@media (min-width:360px){
    #nav-tab{
        font-size: 13px;
    }
  
}


@media screen and (min-width:425px) and (max-width:767px){
    #bottom-bar{
        display: none;
    }
    #sidebar-wrapper {
        width: 147px;
    }
}





